[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncio = "*"
python-dotenv = "*"
docker = "*"
aiohttp = "*"
aio-pika = "*"
aiormq = "*"
colorlog = "*"
minio = "*"
pika = "*"

[dev-packages]

[requires]
python_version = "3.12"
